
@model IList<Twilight.Controllers.FileLocation>
@{
    ViewBag.Title = "LookUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>
        Look up all log in this server</h2>
    <div id="PageContent">
        <table width="100%" id="ServerTable">
            <thead>
                <tr>
                    <th>
                        ServerName
                    </th>
                    <th>
                        File
                    </th>
                </tr>
            </thead>
            <tbody id="FileList">
                @foreach (var item in Model)
                   { 
                <tr>
                    <td>
                        @Html.Encode(item.ServerName) 
                    </td>
                    <td>
                        <a href="/LogFile/Download/?serverName=@Html.Encode(item.ServerName) &fileName=@Html.Encode(item.FileName) ">
                            @item.FileName</a>
                    </td>
                </tr>
                } 
            </tbody>
    </div>
