@using Twilight.Common.Helper
@using Twilight.Common.Paging
@using Twilight.Models
@model IPagedList<ServerBUMappingModel>
@{
    ViewBag.Title = "Browse physical lof file";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script type="text/javascript">
        $(document).ready(function() {
            PageContent_Init();
            if ($("#keyword").val() != "") {
                search();
            }
        });
        function PageContent_Init() {
            $('#logTable tr:odd').css('background-color', '#F5FBFC');
            PostPager();
        }
        function PostPager() {
            $('.Pager').each(function(i, item) {
                $(item).attr('href', '#');
            });
            $('.PostPager.first-page').click(function() { GoToPage(1); });
            $('.PostPager.previous-page,.PostPager.next-page,.PostPager.last-page,.number-page').click(function() {
                GoToPage($(this).attr('value'));
            });
        }
        function GoToPage(page) {
            $.ajax({
                url: '@Url.Action("ServerBUMappingPageContent", "LogFile") ',
                data: { page: page, keyword: $("#keyword").val()
                },
                type: 'post',
                async: false,
                cache: false,
                dataType: 'html',
                success: function(data) {
                    $('#PageContent').html(data);
                    PageContent_Init();
                }
            });
        }
        function search() {
            $.ajax({
                url: '@Url.Action("ServerBUMappingPageContent", "ServerBUMapping") ',
                data: { keyword: $("#keyword").val()
                },
                type: 'post',
                async: false,
                cache: false,
                dataType: 'html',
                success: function(data) {
                    $('#PageContent').html(data);
                    PageContent_Init();
                }
            });
        }
        function Delete(ID) {
            if (confirm('Do you realy want to delete?')) {
                $.ajax({
                    url: '@Url.Action("Delete", "ServerBUMapping") ',
                    data: { ID: ID
                    },
                    type: 'post',
                    async: false,
                    cache: false,
                    dataType: 'json',
                    success: function(data) {
                        if (data.success)
                            search();
                        else
                            alert('delete fail:' + data.errmsg);
                    }
                });
            }
        }               
    </script>

    <h2>
        SERVER LIST</h2>
    <div id="PageContent">
        @{Html.RenderAction("ServerBUMappingPageContent", "LogFile");}
    </div>
