ALTER TABLE [dbo].[ReferenceLink] DROP CONSTRAINT [FK_ReferenceLink_KnowledgeBase]
GO
ALTER TABLE [dbo].[ReferenceLink] DROP CONSTRAINT [FK_ReferenceLink_KnowledgeBase]
GO
ALTER TABLE [dbo].[PositionFunction] DROP CONSTRAINT [FK_PositionFunction_Function]
GO
ALTER TABLE [dbo].[PositionFunction] DROP CONSTRAINT [FK_PositionFunction_Position]
GO
ALTER TABLE [dbo].[PositionFunction] DROP CONSTRAINT [FK_PositionFunction_Function]
GO
ALTER TABLE [dbo].[PositionFunction] DROP CONSTRAINT [FK_PositionFunction_Position]
GO
ALTER TABLE [dbo].[KeywordMapping] DROP CONSTRAINT [FK_KeywordMapping_KnowledgeBase]
GO
ALTER TABLE [dbo].[KeywordMapping] DROP CONSTRAINT [FK_KeywordMapping_KnowledgeBase]
GO
ALTER TABLE [dbo].[FileAttachment] DROP CONSTRAINT [FK_FileAttachment_KnowledgeBase]
GO
ALTER TABLE [dbo].[FileAttachment] DROP CONSTRAINT [FK_FileAttachment_KnowledgeBase]
GO
ALTER TABLE [dbo].[Comment] DROP CONSTRAINT [FK_Comment_KnowledgeBase]
GO
ALTER TABLE [dbo].[Comment] DROP CONSTRAINT [FK_Comment_KnowledgeBase]
GO
ALTER TABLE [dbo].[AdmUserPosition] DROP CONSTRAINT [FK_AdmUserPosition_AdmUser]
GO
ALTER TABLE [dbo].[AdmUserPosition] DROP CONSTRAINT [FK_AdmUserPosition_Position]
GO
ALTER TABLE [dbo].[AdmUserPosition] DROP CONSTRAINT [FK_AdmUserPosition_AdmUser]
GO
ALTER TABLE [dbo].[AdmUserPosition] DROP CONSTRAINT [FK_AdmUserPosition_Position]
GO
ALTER TABLE [dbo].[AdmUserPassword] DROP CONSTRAINT [FK_AdmUserPassword_AdmUser]
GO
ALTER TABLE [dbo].[AdmUserPassword] DROP CONSTRAINT [FK_AdmUserPassword_AdmUser]
GO
