/****** Object:  Table [dbo].[BU]    Script Date: 05/15/2012 12:07:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BU]') AND type in (N'U'))
DROP TABLE [dbo].[BU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BU]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BU](
	[BUID] [smallint] IDENTITY(1,1) NOT NULL,
	[BUName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BU] PRIMARY KEY CLUSTERED 
(
	[BUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
